.chat {
    position: absolute;
    width: 60vw;
    height: 80vh;
    background-color: white;
    border: 1px solid black;
    top: 2.5rem;
    right: 3.5rem;
    display: flex;
    flex-shrink: 0;
}
