@import '../../../sass/mixins.scss';
@import '../../../sass/varaibles.scss';

.userlist {
    @include Oswald_Bold(2rem);

    height: 100%;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;

    & h1 {
        text-transform: uppercase;
        align-self: center;
    }

    &__user {
        padding: .5rem 1rem;
        transition: all .4s;        

        &:hover {
            border-radius: 100rem;
            background-color: $colorMediumBlue;
            color: white;
            text-align: center;
        }
    }

    &__name {
        @include Oswald_Normal(1.8rem);
        text-transform: uppercase;
    }
}